/* these colors are just added for reference. these variables are not used directly anywhere in the app */

:root {
  --background-color: #181818;
  --card-color: #212121;
  --text-primary-color: #ffffff;
  --text-secondary-color: #aaaaaa;
  --accent-red-color: #e11d1d;
  --accent-blue-color: #1b5dae;
  --hover-color: #333333;
  --border-color: #3e3e3e;
}